.navbar-container {
  padding: 15px;
  background-color: #F5F5F5;

  .hamburger-icon {
    background-color: darkorange;
    color: white;
    border-radius: 5px;
  }

  .notifications-icon {
    float: right;
  }
}


