.container {
  width: 80px;
  button {
    background-color: orange;
    border-radius: 16px;
    margin-left: 10px;
  }

  .text {
    margin-top: 4px;
    font-size: 8px;
    text-align: left;
  }
}


