.searchbar-container {
  width: 286px;
  background-color: white;
  border-radius: 5px;
  margin: auto;

  .search-icon {
    float: right;
    background-color: #F5F5F5;
    border-radius: 5px;
    color: black;

  }

  .search-icon-container {
    margin-left: 235px;
  }
}


